<div class="container">
  <h1 class="mt-2">Posts</h1>

  {{#each posts}}
  <div class="card mb-3">
    <div class="card-header">
      {{this.title}}
    </div>
    <div class="card-body">
      <div class="card-text">
        {{{this.text}}}
      </div>
      {{#if ../auth}}
        <a href="/remove-post/{{this._id}}" class="badge float-end">Remove</a>
      {{/if}}
    </div>
  </div>
  {{/each}}

</div>
