<div class="container">
  <h1 class="mt-2">Posts</h1>

  {{#each posts}}
  <div class="card mt-3">
    <div class="card-header">
      {{this.title}}
    </div>
    <div class="card-body">
      <div class="card-text">
        {{this.text}}
      </div>
    </div>
  </div>
  {{/each}}

</div>
