<div class="container">
  <h1 class="mt-2">{{ title }}</h1>
  {{#if msg}}
  <div class="alert alert-success" role="alert">{{msg}}</div>
  {{/if}}
  <form action="/login" method="post" accept-charset="utf-8">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input name="email" type="email" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input name="password" type="password" class="form-control" id="password" required></input>
    </div>
    <button type="submit" class="btn">Login</button>
  </form>
</div>
