<div class="container">
  <h1 class="mt-2">{{ title }}</h1>
  {{#if msg}}
  <div class="alert alert-warning" role="alert">{{msg}}</div>
  {{/if}}
  <form action="/register" method="post" accept-charset="utf-8">
    <div class="mb-3">
      <label for="firstname" class="form-label">First name:</label>
      <input name="firstname" type="text" class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Last name:</label>
      <input name="lastname" type="text" class="form-control" id="lastname">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input name="email" type="text" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input name="password" type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm password:</label>
      <input name="confirmPassword" type="password" class="form-control" id="confirmPassword">
    </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>
